# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints

# Editor directories and files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
desktop.ini

# OneDrive temp files
~$*

# Python packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Secrets
.env

.ipynb_checkpoints/
